QWidget {
    background-color: #282828;
    font-size: 14px;
    color: #ffffff;
}

QLineEdit{
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 5px;
    padding: 2px;
    alignment: AlignCenter;
}

QPushButton{
    background-color: white;
    qproperty-alignment: AlignCenter
    padding: 5px;
    border-radius: 5px;
}